body{
    max-width: 1024px;
}
header h1{
    font-family: sans-serif;
    margin-left: 100px;
}
header{
    text-align: space-evenly;
    display: inline-block;
    width: 100%;
    background: gray;
    padding: 0px;
    grid-area: header;
    height: 80px;
}
header ul{
    list-style: none;
    text-align: right;
    margin-top: -30px;
    
}
header ul li{
    display: inline-block;
    margin-right: 20px;
    right: 30px;
    bottom: 80px;
}
.contenedor{
    display: grid;
    grid-template-areas:
    "header"
    "sidebar fotos"
}
img{
    width: 80px;
}
.sidebar{
    grid-area: sidebar;
    background: lightgray;
    padding: 20px;
    max-width: 20%;
}
.fotos{
    grid-area: fotos;
    background: lightblue;
    padding: 20px;
    max-width: 70%;
}
.sidebar ul li{
    list-style: none;
    margin: 15px;
    padding: 15px;
}

.columna{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}
    